blockquote {
  padding: 1em !important;
  position: relative;
  font-style: italic;
}
blockquote .quote_start {
  border-left: 1px solid #E9EFF3; /* LTR */
  border-top:  1px solid #E9EFF3;
  bottom: 3em;
  left: 0; /* LTR */
  min-height: 2em;
  position: absolute;
  top: 0;
  width: 20%;
}
blockquote .quote_start div {
  background-position: left top; /* LTR */
  left: -5px; /* LTR */
  top:  -5px;
}
blockquote .quote_end {
  border-bottom: 1px solid #E9EFF3;
  border-right:  1px solid #E9EFF3; /* LTR */
  bottom: 0;
  position: absolute;
  right: 0; /* LTR */
  top: 2.3em;
  width: 20%;
}
blockquote .quote_end div {
  background-position: right bottom; /* LTR */
  bottom: -5px;
  right:  -5px; /* LTR */
}
blockquote div div {
  background-image: url(images/quote_corner.gif);
  position: absolute;
  height: 9px;
  width:  9px;
}
blockquote div.quote_start div.pair {
  background-image: url(images/quote_start.gif); /* LTR */
}
blockquote div.quote_end div.pair {
  background-image: url(images/quote_end.gif); /* LTR */
}

