blockquote .quote_start {
  border-left: none;
  border-right: 1px solid #E9EFF3;
  left: auto;
  right: 0;
}
blockquote .quote_start div {
  background-position: right top;
  left: auto;
  right: -5px;
}
blockquote .quote_end {
  border-left: 1px solid #E9EFF3;
  border-right: none;
  left: 0;
  right: auto;
}
blockquote .quote_end div {
  background-position: left bottom;
  left: -5px;
  right: auto;
}
/* If your site has rtl and ltr blockquotes, you might wish to use different graphics.
blockquote div.quote_start div.pair {
  background-image: url(images/quote_start_rtl.gif);
}
blockquote div.quote_end div.pair {
  background-image: url(images/quote_end_rtl.gif);
} */

