blockquote {
  height: 100%;
}
blockquote .quote_start {
  height: expression(this.parentNode.clientHeight-35);
  bottom: auto;
}
blockquote div div {
  background-repeat: no-repeat;
}
blockquote .quote_end {
  height: expression(this.parentNode.clientHeight-35);
  top: auto;
}
